In [59]:
import pandas as pd

In [60]:
def classification_line(value):
    if value>0.05 and value<0.3:
        return "Low Intensity"
    elif value>=0.3 and value<0.5:
        return "Medium Intensity"
    elif value>=0.5 and value<=1:
        return "High Intensity"
    else:
        return "NA"

In [99]:
df = pd.read_csv("d_lines.txt",sep=';')
df['Line']=[round(f,1) for f in df['Line']]
df

      Element  Ion   Line  Relative Intensity
0           H    1  365.5            0.000061
1           H    1  365.6            0.000065
2           H    1  365.6            0.000071
3           H    1  365.7            0.000077
4           H    1  365.7            0.000083
...       ...  ...    ...                 ...
23621      Ac    2  653.6            0.010823
23622      Ac    2  669.5            0.123840
23623      Ac    2  699.6            0.017936
23624      Ac    2  756.8            0.112390
23625      Ac    2  788.7            0.027620

[23626 rows x 4 columns]

In [100]:
df.sort_values(by=['Line','Relative Intensity'], ascending=[True, False], inplace=True)
df1 = df[df['Relative Intensity']>0.05]
df0 = df1.copy(deep=True)
df0['Relative Intensity'] = [round(f,3) for f in df1['Relative Intensity']]
df0['Class'] = [classification_line(f) for f in df1['Relative Intensity']]
df0

      Element  Ion   Line  Relative Intensity           Class
17567      Ga    1  250.0               0.118   Low Intensity
10709      Fe    1  250.1               0.189   Low Intensity
17551      Zn    2  250.2               0.504  High Intensity
22722      Ir    1  250.3               0.655  High Intensity
22064       W    1  250.5               0.148   Low Intensity
...       ...  ...    ...                 ...             ...
4818       Cl    1  894.8               0.236   Low Intensity
19709      Xe    1  895.2               0.174   Low Intensity
20193      La    1  895.8               0.052   Low Intensity
4454        S    1  897.1               0.055   Low Intensity
4456        S    1  897.8               0.080   Low Intensity

[3403 rows x 5 columns]

In [107]:
df2 = df0[df0['Class']=="High Intensity"]
df3 = df0[df0["Line"]==290.9]
df4 = df3.sort_values(by=['Relative Intensity'],ascending=[False])
df4

     Element  Ion   Line  Relative Intensity             Class
8405       V    2  290.9               0.475  Medium Intensity